body{
	background: #000;
	color: #ddd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	width: 760px;
	margin: 0 auto 50px;
	padding: 0;
	/*border: solid 1px #fff;*/
	position: relative;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
li a{
	color: #ddd;
	text-decoration: none;
}
li a:hover{
	text-decoration: underline;
}
hr{
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	height: 1px;
	clear: both;
}
h2{
	font-size: 21px;
}
h3{
	font-size: 19px;
}
h4{
	font-size: 18px;
}
p{
	text-indent: 1em;
}
div{
	padding: 0 30px;
}
td{
	text-align: center;
	padding: 0 10px;
}
#logo{
	margin: 0;
	padding: 0;
	height: 60px;
}
#titei{
	position: absolute;
	top: 400px;
	right: 0;
}
#footer{
	text-align: center;
}
.fr{/*float right*/
	float: right;
	clear: both;
	margin: 5px;
}
